fallback_extensions = ["md"]
user_agent = "curl/8.1.2"
include_fragments = true
accept = [
    200,
    403, # forbidden, mainly for OpenAI
    429, # Terraform
    999, # LinkedIn
]
remap = [
    "(https://github.com/[^/]+/[^/]+/blob/[^#]+)#[a-zA-Z0-9._-]* $1", # remove fragment from GitHub **blob** URLS
    "(https://github.com/[^/]+/[^/]+/tree/[^#]+)#[a-zA-Z0-9._-]* $1", # remove fragment from GitHub **main** URLS
    # `rewrites` from the `.vitepress/config.mts` file
    "([\\w]+)/vectorchord/usage/indexing-with-maxsim-operators $1/vectorchord/usage/multi-vector-retrieval",
    "([\\w]+)/vectorchord/usage/range-query $1/vectorchord/usage/similarity-filter",
    "([\\w]+)/vectorchord/usage/performance-tuning $1/vectorchord/usage/postgresql-tuning",
    "([\\w]+)/vectorchord/usage/external-index-precomputation $1/vectorchord/usage/external-build",
]
