name: Check Typos and Links

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  merge_group:
  workflow_dispatch:

jobs:
  run:
    name: Check Typos and Links
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Actions Repository
      uses: actions/checkout@v4

    - name: Check spelling of file.txt
      uses: crate-ci/typos@master

    - name: Link Checker
      uses: lycheeverse/lychee-action@v2
      with:
        # exclude the blog since runner IPs are almost always blocked by HashNode
        args: --max-concurrency 8 --verbose --no-progress --exclude '^https://blog\.vectorchord\.ai' .
        fail: true
        format: markdown
        jobSummary: true
        lycheeVersion: v0.19.1
